.sectionTitle {
    font-size: 26px;
    color: var(--text-light);
    font-weight: 600;
    text-shadow: var(--text-shadow);
    margin: var(--section-title-margin);
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 650px;
    width: 1200px;

    background-image: url('/banner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin: var(--section-margin);

    @media (max-width: 1200px) {
        height: 550px;
        width: 992px;
    }

    @media (max-width: 992px) {
        height: 420px;
        width: 768px;
    }

    @media (max-width: 768px) {
        height: 320px;
        width: 576px;
    }

    @media (max-width: 576px) {
        width: 100%;
        height: calc(100vw/2);
        background-size: cover;
        margin: 0 0 48px 0;
    }

    .mainCard {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 450px;
        align-items: center;
        padding: 8px;
        border-radius: 100px;
        background-color: var(--foreground);
        cursor: pointer;
        transition: .2s ease-in-out;
        outline: solid 1px var(--outline);

        @media (max-width: 1200px) {
            top: 400px;
        }

        @media (max-width: 992px) {
            top: 300px;
        }

        @media (max-width: 768px) {
            top: 220px;
            padding: 4px;
        }

        @media (max-width: 576px) {
            display: none;
        }

        &:hover {
            -webkit-box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, 0.22);
            box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, 0.22);
            top: 445px;
        }

        img {
            height: 24px;
            margin: 0 0 0 8px;

            @media (max-width: 768px) {
                height: 18px;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0 8px;
            font-size: 16px;
            font-weight: 600;
            color: var(--text-light);

            @media (max-width: 768px) {
                font-size: 11px;
            }
        }
    }

    .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--foreground);
        outline: solid 1px var(--outline);
        padding: 8px;
        border-radius: 12px;

        @media (max-width: 576px) {
            padding: 4px;
            justify-content: center;
            border-radius: 6px;
        }

        .titleWrapper {
            display: flex;
            align-items: center;

            img {
                height: 30px;
                border-radius: 8px;
                margin: 0 8px 0 0;

                @media (max-width: 992px) {
                    height: 25px;
                }

                @media (max-width: 576px) {
                    height: 16px;
                }
            }

            .title {
                font-size: 20px;
                font-weight: 600;
                color: var(--text-light);

                @media (max-width: 1200px) {
                    font-size: 17px;
                }

                @media (max-width: 992px) {
                    font-size: 14px;
                }

                @media (max-width: 576px) {
                    font-size: 10px;
                }
            }
        }

        .desc {
            font-size: 16px;
            font-weight: 400;
            color: var(--text-light);
            margin: 0 8px 0 0;

            @media (max-width: 1200px) {
                font-size: 13px;
            }

            @media (max-width: 992px) {
                font-size: 10px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .descp {
            font-size: 10px;
            font-weight: 400;
            color: var(--text-light);
            margin: 0 8px 0 0;

            display: none;

            @media (max-width: 768px) {
                display: inline;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}

.featuresContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: var(--section-margin);


    .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-md);
        width: 1200px;

        @media (max-width: 1200px) {
            width: 992px;

        }

        @media (max-width: 992px) {
            width: 768px;
        }

        @media (max-width: 768px) {
            width: 576px;
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 576px) {
            width: 100vw;
            padding: 16px;
        }
    }
}

.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: var(--section-margin);

    width: 1200px;

    .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-md);
        width: 1200px;

        @media (max-width: 1200px) {
            width: 992px;

        }

        @media (max-width: 992px) {
            width: 768px;
        }

        @media (max-width: 768px) {
            width: 576px;
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 576px) {
            width: 100vw;
            padding: 16px;
        }
    }
}

.playContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 1200px;
    margin: var(--section-margin);

    @media (max-width: 1200px) {
        width: 992px;

    }

    @media (max-width: 992px) {
        width: 768px;
    }

    @media (max-width: 768px) {
        width: 576px;
    }

    @media (max-width: 576px) {
        width: 100vw;
        padding: 16px;
        text-align: center;
    }


    .sectionDesc {
        font-size: 14px;
        color: var(--text-light);
        font-weight: 500;
        text-shadow: var(--text-shadow);

    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-dark);
        padding: 6px 18px;
        border-radius: 600px;
        background-color: var(--text-light);
        transition: .2s ease-in-out !important;

        margin: 24px 0;

        &:hover {
            -webkit-box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, 0.22);
            box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, 0.22);
            margin: 16px 0 32px 0;
            scale: 1.04;
        }

        img {
            height: 24px;
            margin: 0 0 0 4px;
        }
    }

    video {
        width: 100%;
        border-radius: 8px;
    }
}

.faqContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-direction: column;
    margin: var(--section-margin);

    @media (max-width: 1200px) {
        width: 992px;

    }

    @media (max-width: 992px) {
        width: 768px;
    }

    @media (max-width: 768px) {
        width: 576px;
    }

    @media (max-width: 576px) {
        width: 100vw;
        padding: 16px;
        margin: 0 0 48px 0;
    }

    img {
        height: 24px;
        margin: 0 8px 0 0;
    }

    .rowWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        .faqGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 50%;
            gap: var(--gap-md);

            @media (max-width: 576px) {
                width: 100%;
                padding: 16px;
            }

        }

        .faqBanner {
            width: 50%;
            height: 328px;
            overflow: hidden;
            border-radius: 16px;
            margin: 0 0 0 16px;


            @media (max-width: 1200px) {
                height: 308px;
            }

            @media (max-width: 992px) {
                height: 260px;
            }

            @media (max-width: 768px) {
                height: 216px;
            }

            @media (max-width: 576px) {
                display: none;
            }

            img {
                height: 120%;
                width: 100%;
                border-radius: 16px;
            }
        }
    }
}