.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    color: var(--text-light);
    background-color: var(--foreground);
    border-radius: 12px;
    border: solid 1px var(--outline);
    cursor: pointer;
    user-select: none;

    @media (max-width: 992px) {
        padding: 12px;
    }

    @media (max-width: 768px) {
        padding: 8px;
    }

    .titleWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;


        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }

        @media (max-width: 992px) {
            img {
                height: 20px;
            }
        }

        @media (max-width: 768px) {
            img {
                height: 16px;
            }
        }

        .cardTitle {
            font-size: 20px;
            font-weight: 500;


            @media (max-width: 1200px) {
                font-size: 16px;
            }

            @media (max-width: 992px) {
                font-size: 14px;
            }

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    .cardDesc {
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0 0 0;

        @media (max-width: 992px) {
            font-size: 12px;
            ;
        }
    }
}